@inject ISnackbar Snackbar

<div class="connecting-wi-div">
    <MudText class="wi-text">Kapcsolódó WI-k</MudText>
    
        <div class="wi-new">
            <MudNumericField class="wi-number" @ref="_numField" @bind-Value="WiNumber" HelperText="Wi szám" Variant="Variant.Outlined" Immediate="true" Clearable="true" DisableUnderLine="true" HideSpinButtons="true"></MudNumericField>
            <span class="wi-button-span">
                <MudButton class="wi-button" OnClick="@(() => AddWi())">+</MudButton>
                <MudButton class="wi-button" Disabled="true">New</MudButton>
            </span>
        </div>
    <MudCard class="wi" Elevation="0">
        @if (wiDetails != null)
        {
            @foreach (var item in wiDetails)
            {
                <MudCard class="field" Variant="Variant.Text" Elevation="0" Square="true">
                    <MudIcon Icon="@Icons.Material.Filled.Task" Size="Size.Small"></MudIcon>
                    <MudLink Typo="Typo.body2" Href="@item.Key.AzdoLink" Target="_blank" Color="Color.Tertiary">#@item.Key.Id- </MudLink>
                    <MudText Inline="true" Typo="Typo.body2">@item.Key.Title</MudText>
                    <span class="buttons">
                        <MudIconButton Size="Size.Medium" class="delete-button" OnClick="@(() => deleteConnectingWi(item.Key.Id))" Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                        <MudIconButton Size="Size.Medium" Icon="@Icons.Material.Filled.ExpandMore" OnClick="@(() => ShowConnectingWi(item.Key.Id))"></MudIconButton>
                    </span>
                    <MudText Inline="false" Typo="Typo.body2">
                        <b>Felelős: </b>@((item.Key.AssignedTo?.DisplayName == null) ? "-" : item.Key.AssignedTo?.DisplayName)
                        <b>Állapot: </b>@((item.Key.ClearState == "") ? "-" : item.Key.ClearState)
                        <b>Módosítva: </b>@item.Key.ChangedDate.ToString("yyyy.MM.dd")
                    </MudText>
                </MudCard>

                @if (item.Key.IsOpen)
                {
                    @foreach (var wi in wiDetails[item.Key])
                    {
                        <div class="conn-wi-div">
                            <div>
                                <MudLink Href="@wi.AzdoLink" Target="_blank" Color="Color.Info">#@wi.Id </MudLink>
                                <span>@wi.Title</span>
                            </div>
                            <div class="wi-first-div">
                                <span>@wi.AssignedTo?.DisplayName</span>
                                <span>@wi.State</span>
                                <span><b>Módosítva: </b>@wi.ChangedDate.ToString("yyyy.MM.dd")</span>
                                <span><b>Típus: </b>@wi.Type</span>
                            </div>
                        </div>
                    }
                }
            }
        }
        else
        {
            <MudProgressCircular class="loading-spinner" Size="Size.Small" Color="Color.Secondary" Indeterminate="true" />
        }
    </MudCard>
</div>