<div class="connecting-wi-div">
    <MudText class="wi-text">Kapcsolódó WI-k</MudText>
    
        <div class="wi-new">
            <MudNumericField class="wi-number" @ref="_numField" @bind-Value="WiNumber" Label="Wi szám" Variant="Variant.Outlined" Immediate="true" Clearable="true" DisableUnderLine="true" HideSpinButtons="true"></MudNumericField>
            <span class="wi-button-span">
                <MudButton class="wi-button" OnClick="@(() => AddWi())">+</MudButton>
                <MudButton class="wi-button" Disabled="true">New</MudButton>
            </span>
        </div>
    <MudCard class="wi" Elevation="0">
    @if (wiFinalList != null)
    {
			@foreach (var item in wiFinalList)
        {
            <MudField class="field" Variant="Variant.Text">
                <div class="wi-first-div">
                    <MudIcon Icon="@Icons.Material.Filled.Task" Size="Size.Small"></MudIcon>
                    <span>@item.WiId - </span>
                    <span>@item.WiName</span>
                </div>
                <div class ="wi-first-div">
                    <MudPaper class="wi-avatar" Outlined="true">a</MudPaper>
                    <span>@item.AssignedTo - </span>
                    <span>@item.WiState - </span>
                    <span>@item.WiDate</span>
                </div>
            </MudField>
        }
    }
    </MudCard>
</div>