<MudText class="discussionText"><b>Csevegés</b></MudText>
<div class="discussionDiv">
    <MudTextField class="discussionInput" Clearable="true" Immediate="true" Lines="2" T="String" @bind-Value="Comment" DisableUnderLine="true" FullWidth="true" Margin="Margin.None"
                  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="AddComments"></MudTextField>
    <MudCard class="discussion" style="margin-top: 0px;">
        @if(_comments != null)
        {
            @foreach(var item in _comments)
            {
                <div>
                    <MudPaper class="commentPaper">
                        <MudText style="font-size: 15px" class="papertext">@userName.Substring(0, 1).ToUpper()</MudText>
                    </MudPaper>
                    <MudField Margin="Margin.Normal" Variant="Variant.Outlined">
                        <div>
                            @item.UserName
                        </div>
                        <span>
                            @item.Comment
                        </span>
                        <span style="float: right">
                            @item.CreationDate
                        </span>
                    </MudField>
                </div>

            }
        }

    </MudCard>
</div>