@using TaskManager.Srv.Model.ViewModel;

<div class="milestone-div">
    <div>
        <MudText class="milestone-text" onclick="@(() => ToggleDrawer())"><b>Határidők (@milestoneList.Count darab)</b></MudText>
        <MudIconButton class="add-btn"  Icon="@Icons.Material.Filled.Add" OnClick="CreateMilestone"></MudIconButton>
    </div>

    @if (IsOpen)
    {
        <MudTable class="milestone" @ref="milestoneTable" Items="milestoneList" Bordered="true" Dense="true" Hover="true" Elevation="0" SortLabel="Sort By">
            <ColGroup>
                <col />
                <col class="milestone-th" />
                <col class="milestone-th" />
                <col class="milestone-delete-done"/>    
            </ColGroup>
            <HeaderContent>
                <MudTh>Név</MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<MilestoneViewModel, object>(x => x.Planned!)">Tervezett határidő</MudTableSortLabel></MudTh>
                <MudTh>Teljesítés dátuma</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Név">@context.Name</MudTd>    
                <MudTd DataLabel="Tervezett határidő">@Convert.ToDateTime(@context.Planned).ToString("yyyy/MM/dd")</MudTd>
                <MudTd DataLabel="Teljesítés dátuma">@if (context.Actual != null) { @Convert.ToDateTime(@context.Actual).ToString("yyyy/MM/dd") }</MudTd>
                <MudTd class="delete-done-button">
                    <MudTooltip Duration="500" Text="lezárás">
                            <MudIconButton class="sub-btn" Icon="@Icons.Material.Filled.Done" Size="Size.Small" OnClick="(() => PopUpButton(context))"></MudIconButton>
                    </MudTooltip>
                    <MudTooltip Duration="500" Text="törlés">
                        <MudIconButton class="sub-btn" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="(() => DeletePopUpButton(context))"></MudIconButton>
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
        </MudTable>
    }
</div>