@page "/projects/{TechnicalName}/tasks"
@using TaskManager.Srv.Model.ViewModel;
@using TaskManager.Srv.Model.DataModel;
@using TaskManager.Srv.Components.TaskDetails;

<MudText class="task-title" Typo="Typo.h6">Feladatok</MudText>
<MudButton class="new-task-button" Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateTask">Új Feladat</MudButton>

<MudTable class="table"
            @ref="_table"
            ServerData="LoadData"
            Elevation="0"
            @bind-RowsPerPage="@PageSize">

    <ColGroup>
        <col style="width: 50em"/>
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh><b>Név</b></MudTh>
        <MudTh><b>Állapot</b></MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd class="select-row">
            <MudSelect T="TaskState" @bind-Value="context.State" SelectedValuesChanged="@(() => UpdateState(context))" AnchorOrigin="Origin.BottomCenter" DisableUnderLine="true" MultiSelection="false">
                @foreach(var (value, name) in enumList)
                {
                    <MudSelectItem T="TaskState" Value="@value">@name</MudSelectItem>
                }
            </MudSelect>
        </MudTd>
        <MudTd class="cell">
            <MudButton class="dropdown-button" Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context))">
             @((context.RowId == ShownId) ? "-" : "+")
            </MudButton>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.RowId == ShownId)
        {
            <CascadingValue Value="@Id" Name="RowId">
                <Details></Details>
            </CascadingValue>
        }
    </ChildRowContent>
    <PagerContent>
        <div class="pager-content">
            <MudTablePager class="pagination" DisableRowsPerPage="true" HorizontalAlignment="HorizontalAlignment.Center" InfoFormat="@infoFormat" />
        </div>
    </PagerContent>
</MudTable>

