@page "/projects/{TechnicalName}/tasks"
@using TaskManager.Srv.Model.ViewModel;

<MudText Typo="Typo.h6">Feladatok</MudText>

<MudTable class="table"
            ServerData="LoadData"
            Elevation="0"
            @bind-RowsPerPage="@PageSize">
    <ColGroup>
        <col style="width: 50em"/>
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh><b>Név</b></MudTh>
        <MudTh><b>Állapot</b></MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.State</MudTd>
        <MudTd class="cell">
            <MudButton class="button" Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context))">
             @((context.RowId == ShownId) ? "-" : "+")
            </MudButton>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.RowId == ShownId)
        {
        <td colspan="4">
            <MudCard>
                <MudCardContent class="wrapper">
                    <MudText class="descriptionText"><b>Leírás</b></MudText>
                        <MudContainer class="description">
                        <MudText class="text">@context.Description</MudText>
                        </MudContainer>
                    <MudText class="milestoneText"><b>Mérföldkövek</b></MudText>
                        <form class="milestone">
                            <MudText>Ez egy teszt string</MudText>
                        </form>
                    <MudText class="templateText"><b>Kapcsolódó WI-k</b></MudText>
                        <form class="template">
                            <MudText>Ez is egy teszt string</MudText>
                        </form>
                </MudCardContent>
            </MudCard>
        </td>
        }
    </ChildRowContent>
    <PagerContent>
        <MudTablePager class="pagination" DisableRowsPerPage="true" InfoFormat="@infoFormat"/>
    </PagerContent>
</MudTable>