@page "/projects/{TechnicalName}/tasks"
@using TaskManager.Srv.Model.ViewModel;

<MudText Typo="Typo.h6">Feladatok</MudText>

<MudTable class="table"
            ServerData="LoadData"
            @ref="@_table"
            Elevation="0"
            RowsPerPage="9">
    <ColGroup>
        <col style="width: 50em"/>
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh>Név</MudTh>
        <MudTh>Állapot</MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.State</MudTd>
        <MudTd class="cell">
            <MudButton class="button" Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context))">
                @((context.RowId == ShownId) ? "-" : "+")
            </MudButton>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.RowId == ShownId)
        {
            <td colspan="4">
                <MudCard>
                    <MudCardContent>
                        <MudContainer class="container">
                            <MudText>@context.Description</MudText>
                        </MudContainer>
                    </MudCardContent>
                </MudCard>
            </td>
        }
    </ChildRowContent>
    <PagerContent>
        <MudPagination class="pagination" SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" />
    </PagerContent>
</MudTable>

@code {


}